*{
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Lobster Two', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
}
.carousel img {
    height: 60vh;
}

@media screen and (max-width:567px) {
    .navbar-form {
        flex-direction: column;
        gap: 20px;
    }

}